* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* width e height incluem padding e border */
}

body {
  background-color: rgb(250, 248, 243);
}

#topofthepage {

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /*esse negócio parece complicado de entender, por isso tô testando ainda*/

}

.head-nav-list {

  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: roboto;
  font-size: 16px; 

}

.logo {

  height: 30px;

}

.login {
  
  border: 1px solid black;
  font-weight: bold;
  border-radius: 8px;

  background-color: rgb(200, 200, 200);
  cursor: grab;
}