* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* width e height incluem padding e border */
}

body {
  background-color: rgb(250, 248, 243);
}

#top-of-the-page {

  background-color: white; 
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /*esse negócio parece complicado de entender, por isso tô testando ainda; parece que funcionou*/
}

.head-nav-list {

  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: roboto;
  font-size: 16px; /* meu deus precisa de mais coisa*/
  margin: 0 auto;
  padding: 0 50px;
  height: 60px; /* agora funciona melhor */
}

.logo {

  height: 45%; 
  cursor: grab;
}

.logo:active {

  cursor: grabbing;
} 

.head-items{

  margin: 0 0 0 10px;
  cursor: pointer;
}

.login {
  
  margin: 0 0 0 120px;
  border: 1px solid black;
  font-weight: bold;
  font-size: 16px;
  border-radius: 7px;
  padding: 4.5px 5px;
  cursor: pointer;
}

.login:hover {

  background-color: rgb(200, 200, 200);
}

.login:active {

  cursor: wait;
  user-select: none;
}

.REM32bold{
  font-family: REM;
  font-size: 32px;
  font-weight: bold;
}

.roboto14{
  font-family: roboto;
  font-size: 14px;
}

.tarefa8{
  background-color: rgb(247, 247, 247);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(193, 193, 193);
}

#Email{
  width: 100%;
  padding:10px 20px;
  border: solid;
  border-width: 1px;
  border-radius: 6px;
}

#botao{
cursor: not-allowed;
width: 100%;
height: 100%;
background-color: rgb(173, 173, 173);
font-family: roboto;
font-size: 20px;
font-weight: bold;
color: white;
border: transparent;
border-radius: 6px;
padding: 0px 20px;
}